.container{
    display: flex;
    padding: 0.25rem;
    gap: 0.5rem;
    background-color: antiquewhite;
    flex-direction: column;
}

.elementos{
    background-color: blue;
    padding: 0.25rem;

}
.principal{
    display: flex;
    padding: 0.25rem;
    flex-direction: column;
    background-color: red;
    align-items: flex-end;
    flex-grow: 1;
}

@media (max-width: 640px) {
    .elementos {
        flex-direction: row;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
